@font-face {
  font-family: "Segoe-UI";
  src: url("../../public/fonts/Segoe-UI-Variable-Static-Display.ttf");
}

.mainWindow {
  font-family: "Segoe-UI";
  color: #dddddd;
  width: 100%;
  max-width: 825px;
  box-shadow: 7px 8px 20px 0px #6f6f6f;
  height:fit-content;
  margin:8px;
}
