.headerBody{
    height: 80px;
    width: 100%;
    display:inline;
}
.headerBarBottom{
    background-color: #1a2221;
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.tabHeader img{
    height: 70%;
    padding: 0px 10px;
}

.tabHeader{
    background-color: #1a2221;
    height:75%;
    width:230px;
    align-self: end;
    margin-left:10px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid #0d1917;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.headerBarTopTitle{
    text-overflow: ellipsis;
    overflow: hidden; 
}
.controlsHeader{
    white-space: nowrap;
}
.controlsHeader img, .headerBarBottom div:first-child > img{
    width:16px;
    padding: 7px 16px;
    opacity: 80%;
}
.headerBarBottom div:nth-child(2){
    flex: 1 1 auto;
    height: 70%;
    background-color: #272f2e;
    border-radius: 6px;
    margin-right: 6px;
    min-width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    max-height: 85%;
    overflow-y: hidden;
}
.headerBarBottom div:first-child{
    overflow: hidden;
    max-height: 85%;
    overflow-y: hidden;
}
.headerBarBottom div:nth-child(3){
    height: 70%;
    background-color: #272f2e;
    border-radius: 6px;
    margin-right: 10px;
    flex: 0 0 30%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.headerBarTop{
    justify-content: space-between;
    background-color: #000f0d;
    height: 40px;
    width: 100%;
    display:flex;
    border-radius: 8px 8px 0px 0px;
}

.folderControlsImage{
    width:16px;
    padding: 6px 8px;
    opacity: 80%;
}
.folderControlsImageSmall{
    width:10px!important;
    padding: 0px 8px;
    opacity: 80%;
}
.headerBarBottom span{
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.headerActionBar{
    background-color: #191919;
    height:50px;
    border-top:2px solid #373737;
    border-bottom: 2px solid #373737;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    max-height: 85%;
    overflow-y: hidden;
}
.headerActionBar img{
    width:16px;
    padding: 7px 15px 7px 20px;
    opacity: 80%;
    margin: 10px 0px;
}
.headerActionBar span{
    font-size:13px;
}
.actionLeftBorder{
    border-left: 2px solid #373737;
}
.headerActionBar > div{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}