.projectContainer{
    display: flex;
    flex-wrap: wrap;
    width: 85px;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
    padding: 5px;
}
.projectContainer img{
    width:64px;
}
.projectContainer span{
    text-align: center;
}