.projectContainer{
    display: flex;
    width: 80px;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}
.projectContainer:hover{
    background-color: rgb(75, 75, 75);
    cursor: pointer;
}
.projectContainer img{
    width:64px;
}
.projectContainer span{
    text-align: center;
}